/requirement/
**/node_modules/
**/dist/
/prototype/reports/*.tap
/prototype/reports/*.json
/tests/results/
**/bin/
**/obj/
/data/
/artifacts/
/settings.docker.json
/settings.local.json
**/__pycache__/
**/*.egg-info/
/sdk/source/python/build/

/.dev/
/vendor/nuget/*.nupkg
/vendor/python/*.whl
/vendor/manifest.json
