<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources><clear /><add key="offline" value="vendor/nuget" /></packageSources>
  <auditSources><clear /><add key="offline" value="vendor/nuget" /></auditSources>
  <fallbackPackageFolders><clear /></fallbackPackageFolders>
  <config><add key="globalPackagesFolder" value=".dev/nuget/packages" /></config>
</configuration>
